app_name                = "grafana"
applications            = "metrics-server,cert-manager,traefik2-nodeport"
chart_version           = "1.15.3"
cluster_name_prefix     = "cloudthrill2"
cluster_node_count      = 2
cluster_node_size       = ""
cluster_tools_namespace = "cluster-tools"
cluster_type            = "talos"
cluster_web_access = [
  "0.0.0.0/0"
]
cluster_websecure_access = [
  "0.0.0.0/0"
]
cni                          = "flannel"
compute_type                 = "standard"
grafana_enabled              = true
ingress_cluster_issuer       = "letsencrypt-prod"
ingress_email_issuer         = "no-reply@example.cloud"
ingress_hosts                = ""
ingress_hosts_include_nip_io = true
kubernetes_api_access = [
  "0.0.0.0/0"
]
kubernetes_namespace   = "my-namespace"
kubernetes_version     = "talos-v1.5.0"
label                  = "k8s-pool"
metrics_server_enabled = true
network_cidr           = "10.20.0.0/16"
network_name           = "default"
nip_io_domain          = "nip.io"
node_pool_labels       = {}
object_store_enabled   = false
object_store_prefix    = "tf-template-"
object_store_size      = 500
prometheus_enabled     = true
region                 = "NYC1"
tags                   = "terraform"
taints = [
  {
    "effect": "NoSchedule",
    "key": "My-app-workload",
    "value": "frontend"
  }
]
telemetry_namespace = "telemetry-ns"
