user_ocid = "ocid1.user.oc1.."                #CHANGE ME
fingerprint = "1c.."                          #CHANGE ME
private_key_path = "~/.oci/api_key.pem"       #CHANGE ME
tenancy_ocid = "ocid1.tenancy.oc1.."          #CHANGE ME 
region = "ca-toronto-1"                       #CHANGE ME
dr_region= "ca-montreal-1"                    #CHANGE ME 