user_ocid = "ocid1.user.oc1...."            #CHANGE ME
fingerprint = ".."                          #CHANGE ME
private_key_path = "~/oci_api_key.pem"      #CHANGE ME
tenancy_ocid = "ocid1.tenancy.oc1.."        #CHANGE ME
region = "ca-toronto-1"                     #CHANGE ME
compartment_ocid= "ocid1.compartment.oc1.." #CHANGE ME
ssh_public_key = "~/id_rsa.pub"             #CHANGE ME
